<!DOCTYPE html>
<html>
  <head>
    <title>GMAT Question Bank</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Connect Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">

    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    
    
    <!-- ↓↓↓ Your view templates all get plugged in below ↓↓↓ -->
    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>

<br>
  <a href="/">Home</a>
  <BR>
Sentence Correction: <a href="/sc_hard">Hard</a> <a href="/sc_medium">Medium</a> <a href="/sc_low">Low</a> | <a href="/sc">All questions (Random)</a> | <a href="/sc_list">Question list</a> | My questions
  <br>
Critical Reasoning: <a href="/cr_hard">Hard</a> <a href="/cr_medium">Medium</a> <a href="/cr_low">Low</a> | <a href="/cr">All questions (Random)</a> | <a href="/cr_list">Question list</a> | My questions
  <br>
Reading Comprehension: <a href="/rc_b">Business</a> <a href="/rc_h">Humanities</a> <a href="/rc_ns">Natural Sciences</a> <a href="/rc_ss">Social Sciences</a> | <a href="/rc_long">Long</a> <a href="/rc_short">Short</a> | <a href="/rc">All passages (Random)</a> | <a href="/rc_list">Passage list</a> | My questions
  <br>
  <hr size="10" noshade>


    <%= yield %>

<br>
<hr size="10" noshade>
(C) GMAT Question Bank

  </body>
</html>
